<div class="container">
  <div class="ambulance-list" *ngFor="let item of ambulanceList">
    <p-card
      header="Advanced Card"
      subheader="Card Subheader"
      styleClass="shadow-2"
    >
      <ng-template pTemplate="header">
        <img alt="Card" [src]="item.photo" />
      </ng-template>
      <p>Name: {{ item.firstName }} {{ item.lastName }}</p>
      <p>RC Number: {{ item.rcNumber }}</p>
      <p>Phone Number: {{ item.phoneNumber }}</p>

      <ng-template pTemplate="footer">
        <p-button label="Book Now" icon="pi pi-check"></p-button>
        <!-- <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-secondary"
        ></p-button> -->
      </ng-template>
    </p-card>
  </div>
</div>
