<app-navbar></app-navbar>
<div class="container">
  <div class="ambulance-list" *ngFor="let item of ambulanceList">
    <div class="flex-box">
      <img class="image-size" src="{{item.photo}}" alt="">
      <p-card
      header="RC: {{ item.rcNumber}}"
      styleClass="shadow-2"
    >
    <div class="main-content">
      <div class="details">
        <p>Name: {{ item.firstName }} {{ item.lastName }}</p>
        <p>ID:{{item.id}}</p>
      <p>Phone Number: {{ item.phoneNumber }}</p>
      </div>
      <div class="content">
        <p class="price">Rs: {{item.price}}</p>
      </div>
    </div>





      <ng-template pTemplate="footer">

        <p-button
          label="Select Driver and Pay"
          (click)="payment()"
          icon="pi pi-check"
        ></p-button>

      </ng-template>
    </p-card>
    </div>

  </div>
</div>
