p-card {
  width: 100% !important;
}

.container {
  display: flex;
  height: 100%;
  overflow: auto;
  gap: 20px;
  flex-wrap: wrap;

  .ambulance-list {
    display: flex;
    width: 100%;
    .image-size {
      padding: 20px;
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
  }
}
