.big-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .main-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    height: 100%;
    .button-container {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      .p-button {
        background: #d13144;
        border: 1px solid #d13144;
      }
      .p-button:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #d13144, 0 1px 2px 0 black;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .type {
        font-weight: 600;
        font-size: 36px;
        color: #222;
        border-bottom: #ea4f4c;
      }
      .type-ambulance {
        display: flex;
        gap: 100px;
        align-items: flex-start;
        justify-content: center;
        .ambulances {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          height: 80px;
          width: 80px;
          background-color: transparent;
          cursor: pointer;
          .size-image{
            height: 40px;
          }
          &:hover{
            background-color: #d13144;
          }
          &.active {
            background-color: #d13144;
          }
        }
      }
      .type-ambulances {
        display: flex;
        gap: 100px;
        width: 440px;
        font-weight: 600;
        align-items: flex-start;
        justify-content: space-around;
      }
      .image-container {
        display: flex;
        flex-direction: column;
      }
    }
    .types{
      font-weight: 600;
      font-size: 36px;
      color: #222;
      align-self: center;

    }
    .first-container{
      margin-top: 60px;
      display: grid;
      width: 80%;
      gap: 20px;
      justify-content: center;
      grid-template-rows: 200px 200px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-self: center;
      text-align: center;
      align-self: center;
      margin-bottom: 20px;
      .item{
        .item-image{
          height: 100px;
        }
        .new-para{
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  .footer-container{
    border: 1px solid grey;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 100px;
    .firsts-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title{
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0;
      }
      .logo{
        width: 150px;
      }
      .copyright{
        margin-bottom: 0;
        text-align: left;
      }
    }
    .second-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title{
        font-size: 18px;
      }
      
    }
  }
  }
}
