<div class="container">
  <img class="main-image" src="assets/images/als.png" alt="">
  <div class="contents">
    <p class="title" >Advance Life Support</p>
    <p class="description">
      A Large vehicle, Advanced Life Support is used for
      critical patients. The Ambulance consists of an array of
      ICU equipment. It has an in-built ventilator with oxygen
      cylinder, BP monitor, and specialized medication
      required.
  </p>
  <div class="image-container" >
    <img  class="image-size" *ngFor="let item of images " src="{{item.image}}" alt="items">
  </div>
  </div>
</div>
