<div class="container">
  <img class="main-image" src="assets/images/ptv.png" alt="">
  <div class="contents">
    <p class="title" >Patient Transport Service</p>
    <p class="description">
      The Patient Transport Service Vehicle is used to
      transfer non-critical patients from one place to
      another It is equipped with a stretcher as well.
  </p>
  <div class="image-container" >
    <img  class="image-size" *ngFor="let item of images " src="{{item.image}}" alt="items">
  </div>
  </div>
</div>
