/* You can add global styles to this file, and also import other style files */
body,html{
margin: 0;
font-family: sans-serif;
// overflow: hidden;
height: 100%;
// background-image: url();
}
body{
  overflow: hidden;
}
// .container {
//   max-width: 120rem;
//   padding: 0 3.2rem;
//   margin: 0 auto;
// }

// .grid {
//   display: grid;
//   column-gap: 6.4rem;
//   row-gap: 9.6rem;
// }
