.navigationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #ffffff7e;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: rgb(0, 0, 0);
  font-size: large;
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 30px;


  .logoWrapper {
    display: flex;

    .stylish {
      font-weight: bold;
    }

    .logo {
      height: 70px;
    }
  }

  .navigation {
    display: flex;
    list-style-type: none;

    li {
      opacity: 1;
      list-style-type: none;
      color: rgb(0, 0, 0);
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    .parent {
      padding: 0 10px;
      cursor: pointer;

      .link {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        color: rgb(0, 0, 0);

        &:hover {
          color: #ea4f4c;
        }

        .fa-minus {
          opacity: 0;
          transition: all 0.3s ease-in-out;
          position: absolute;
          left: -16px;
          top: 3px;
        }

        .fa-plus {
          opacity: 1;
          transition: all 0.3s ease-in-out;
        }

        .fas {
          color: #ea4f4c;
          margin: -2px 4px 0;
          font-size: 10px;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .subnavigation {
      display: none;
      list-style-type: none;
      width: 500px;
      position: absolute;
      top: 40%;
      left: 25%;
      margin: auto;
      transition: all 0.3s ease-in-out;
      background-color: #222;

      li a {
        font-size: 17px;
        padding: 0 5px;
      }
    }
  }
}

.active.parent {
  transform: translate(-40px, -25px);
  .link {
    font-size: 12px;

    .fa-minus {
      opacity: 1 !important;
      font-size: 8px;
    }

    .fa-plus {
      opacity: 0 !important;
    }
  }

  .subnavigation {
    display: flex;
  }
}

.invisible {
  opacity: 0 !important;
  transform: translate(50px, 0);
}

