.parent-container {
  display: flex;
  // flex-direction: column;
  position: relative;
  .children {
    width: 50%;
    .ambulance-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 700px;
      margin-top: 40px ;
    }
  }
  .login-content {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    // align-items: flex-end;
    .login-container {
      // height: 200px;
      width: 25%;
      position: absolute;
      top: 30%;
      right: 15%;
    }
    p-panel{
      margin-bottom: 4px;
    }

    .p-inputtext {
      width: 100%;
      margin-bottom: 5px;
    }
    button {
      margin-left: 35%;
    }
    .sign-up{
      margin-bottom: 0.5px;
      display: flex;
    }
  }
}
