.parent-container {
  display: flex;
  // flex-direction: column;  
  position: relative;
  .children{
    width:50%;
    
    img{
      display: block;
      margin-left: auto;
    margin-right: auto;
      max-width: 100%;
      height: auto;
    }
  }
  .login-content {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: flex-end;
    .login-container{
      // height: 200px;
      width: 25%;
     
      position: absolute;
      top: 30%;
      right: 15%;
      
    
    }
   
    
    .p-inputtext {
      width: 100%;
      margin-bottom: 5px;
    }
    button {
      margin-left: 35%;
    }
  }
}
