.parent-container{
  display: flex;



  .login-content{
    position: relative;
    top:50%;
    left:50%;
    width: 30%;

    .p-inputtext{
      width: 100%;
      margin-bottom: 5px;;
    }
    button{
      margin-left: 35%;
    }
  }
  
  
}


