<p-dialog
  header="Advance Ambulance Booking"
  [(visible)]="displayModal"
  (onHide)="onClosePopUp()"
  [modal]="true"
  [style]="{ width:'30vw', height: '70vh' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="advanceBookingForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Type</label>
      <p-dropdown
        [options]="cities"
        formControlName="selectedCity"
        [style]="{ width: '80%' }"
        optionLabel="name"
      >
       
        </p-dropdown
      >
    </div>
    <div class="form-group">
      <label for="password">Pick up Location</label>
      <p-autoComplete
        formControlName="pickUpLocation"
        [suggestions]="results"
        (completeMethod)="search()"

        field="name"
      >
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <div>{{ country.name }}</div>
          </div>
        </ng-template></p-autoComplete
      >
    </div>
    <div class="form-group">
      <label for="password">Drop Location</label>
      <p-autoComplete
        formControlName="dropLocation"
        [suggestions]="results"
        (completeMethod)="search()"
        field="name"
      >
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <div>{{ country.name }}</div>
          </div>
        </ng-template></p-autoComplete
      >
    </div>
    <div class="form-group">
      <label for="date">Pick Up Date & Time</label>
      <p-calendar formControlName="date" [showTime]="true" ></p-calendar>
    </div>

    <div class="form-group-3">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</p-dialog>
